<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .root {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(218, 238, 247);
        
      }
      .bgc {
        
        display: flex;
        justify-content: center;
      }
      .login-box-bodyWrap{
        display: flex;
        justify-content: center;
        margin-top: 200px;
      }
       
    </style>
  </head>
  <body>
      <div class="root">
        <div class="bgc">
            <h1 class="title">商品管理登录系统</h1>     
        </div>
        <div class="login-box-bodyWrap">
            <div class="login-box-body">
                <form action="/login/in" method="post">
                   
                    用户名 <input type="text"  placeholder="请输入你的管理员账号" name="adminName">
                    
                 
                    密码  <input type="password"   placeholder="请输入你的管理员密码" name="passWord">
                    
                  
                      <button type="submit"  >登录</button>
                   
                  
                </form>
                <!-- /.social-auth-links -->
                <a href="#">如你忘记了密码，请联系你的负责人</a>
                 
              </div>
        </div>
        
      </div>
    
  </body>
</html>
